.contEquipo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.contCaract{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 280px;
    

}

.fotos{
    width: 200px;
    height:200px;
    border: 3px #696A6A solid;
    border-radius: 50%;
    margin: 5px auto;
}

.nombre{
    width: 278px;
    margin: 20px 0px ;
    
}

.nombre h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5px 0 5px 5px;
    margin-bottom: 5px;
    background-color: #b22c31;
    font-size: 20px;
    justify-content: center;
}
.inge{
  color: #b22c31; 
  font-size: 20px; 
}
.nombre p{
    padding:2px;
    margin: 4px;
}

.roles{
padding-top: 15px;
font-size: 15px;
}

.especialidad{
    font-size: 15px;
}
