.contEquipo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contCaract{
    display: flex;
    justify-content:space-between;
}

.fotos{
    width: 200px;
    height:200px;
    border: 3px #696A6A solid;
    border-radius: 50%;
    margin: 20px 80px;
}

.nombre{
    width: 725px;
    margin: 20px 0px 20px 80px
}

.nombre h3{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px 0 5px 15px;
    margin-bottom: 20px;
    background-color: #b22c31;
    font-size: 23px;
    justify-content: center;
}
.inge{
  color: #b22c31;
  padding-bottom: 10px; 
  font-size: 20px; 
}
.nombre p{
    padding-bottom: 10px;
}

.roles{
padding-top: 15px;
}


.lista2 li{
    padding-bottom: 10px;
}