.contNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.contNosotros h1, h2, p{
    padding: 15px 0;
}



.quenosdes {
    display: flex;
   
}
.texto2{
margin-left: 25px;
}
.estruc{
    height: 400px;
    border-top-right-radius: 60px;
    opacity: .9;
   
    margin-left: 40px;
    border-top: solid 5px grey;
    border-right: solid 5px grey;
}