
.contHeader{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #696A6A;
    height: 55px;
    width: 100%;
    margin:0 auto;
    padding: 0 5%;
}

