@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.contHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696A6A;
    height: 55px;
    width: 100%;
    margin: 25px auto 0;
}


