
.contMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    /* font y tamaño despues*/
}
    
    